# Core functionality - changes here should be rare!
/src/app.py                   @M0izz
/src/backend/database.py      @M0izz
/src/backend/routers/auth.py  @M0izz

# The frontend will need refactored soon to be more object oriented.
/src/static/   @M0izz
